@font-face {
    font-family: Barlow;
    src: url(fonts/BarlowSemiCondensed-Medium.ttf)
}
@font-face {
    font-family: Barlow Bold;
    src: url(fonts/BarlowSemiCondensed-Bold.ttf);
}

* {
    font-family: Barlow;
}
.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 32px;
}
    
.div1 {
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 6;
    
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
    
}

.div4 {
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 4;
    
}

.div5 {
    grid-row: span 6 / span 6;
    grid-column-start: 8;
    grid-row-start: 1;
    
}
       
.div1, .div2, .div3, .div4, .div5 {
    & > p {
        font-size: 13px;
    }
}